@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,100&display=swap');
body{
    background-color: #BF665E;
    font-family: 'poppins', sans-serif; 
}
header{
    color: white;
    text-align: center;


}
section{
    background-color: #F28157;
    border-radius: 10px;
    width: 500px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.353);
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-style: italic;
}
input{
    border-radius: 10px;
    border: none;
    background-color: white;
    padding: 6px;
    margin-bottom: 6px;
    font-size: 12pt;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.353);
}
input#botao{
    font-size: 8pt;
    color: #253659;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.591);
    font-weight: bolder;
    font-style: normal;
    
}
#res{
    margin-top: 10px;
    font: bold 16px 'poppins';

}
